table {
    width: 400px;
    border: 2px solid black;
}

caption {
    font-size: 20px;
    font-weight: bold;
}

th, td {
    border: 1px solid black;
    padding: 3px;
}

th {
    width: 25%;
    background-color: #FFFFFF;
    text-align: center;
}

td {
    text-align: center;
}
